<div class="jumbotron page-header">
  <h1>VinylCollections</h1>
  <p>Organize your collection in one place</p>
  <div class="row" style="margin-top: 42px">
    <div class="col-sm-6">
      <%= link_to "Create collection", new_collection_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "View all collections", collections_path, class: "push-sm-1 btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
